.services-container {
  padding: 84px 75px;

  h1 {
    padding-top: 46px;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    color: #000;
  }
  .row {
    padding-top: 54px;
  }

  img {
    width: 64px;
    height: 64px;
  }
  h6 {
    padding-top: 52px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    color: #000;
    height: 110px;
    margin: 0;
  }
  p {
    padding-top: 53px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #000;
  }
}
