@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.cases-container {
  padding: 0 75px;

  .sliders-container {
    padding-top: 57px;

    .slick-track {
      display: flex;
      column-gap: 41px;
    }
  }
}
